.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .valid-keys {
    font-size: 5rem;
    font-weight: bold;
    min-width: 400px;
    border-bottom: 1px solid #fff;
}

.container .completed-words {
    width: max-content;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    text-align: left;
    padding: 20px 40px;
    font-size: .8rem;
    line-height: 1rem;
    opacity: 0.5;
}

.container .typed-keys {
    margin-top: 20px;
    font-size: 1.3rem;
    width: 600px;
    overflow: hidden;
}